.github-easy-edit-button {
  color: #768390 !important;
  display: flex !important;
  max-width: 40px;
  height: 20px;
  font-weight: bold !important;
  margin: 0 0 0 4px !important;
  text-align: center !important;
  justify-content: center !important;
  float: left;
  align-items: center !important; 
}
